@inject IEmployeeServiceClient EmployeeService
@attribute [StreamRendering]

@if (Employee == null)
{
	return;
}

<EditForm Model="@Employee" OnValidSubmit="ValidSubmit" FormName="EmployeeForm">
	<DataAnnotationsValidator></DataAnnotationsValidator>
	<div class="mt-3">
		<label class="form-label">First Name</label>
		<InputText class="form-control" @bind-Value="@Employee.FirstName"></InputText>
		<ValidationMessage class="text-danger" For="(()=> Employee.FirstName)"></ValidationMessage>
	</div>
	<div class="mt-3">
		<label class="form-label">Last Name</label>
		<InputText class="form-control" @bind-Value="@Employee.LastName"></InputText>
		<ValidationMessage class="text-danger" For="(()=> Employee.LastName)"></ValidationMessage>
	</div>
	<div>
		<label class="form-label">Date of Birth</label>
		<InputDate class="form-control" @bind-Value="@Employee.DateOfBirth"></InputDate>
		<ValidationMessage class="text-danger" For="(()=> Employee.DateOfBirth)"></ValidationMessage>
	</div>
	<div class="mt-3">
		<label class="form-label">Qualification</label>
		<InputText class="form-control" @bind-Value="@Employee.Qualification"></InputText>
		<ValidationMessage class="text-danger" For="(()=> Employee.Qualification)"></ValidationMessage>
	</div>
	<div class="mt-3">
		<button class="btn btn-primary" type="submit">
			<i class="bi bi-floppy"></i> Save
		</button>
	</div>
</EditForm>

@code {
	[Parameter]
	public bool IsEditMode { get; set; }

	[Parameter]
	public Guid EmployeeId { get; set; }

	[SupplyParameterFromForm]
	public EmployeeModel? Employee { get; set; }

	[Parameter]
	public EventCallback<EmployeeModel> OnValidSubmit { get; set; }

	protected override async Task OnInitializedAsync()
	{
		if(IsEditMode)
		{
			Employee ??= await EmployeeService.GetEmployeeAsync(EmployeeId);
		}
		else
		{
			Employee ??= new();
		}
	}

	protected async Task ValidSubmit()
	{
		await OnValidSubmit.InvokeAsync(Employee);
	}
}