@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="_isDarkMode"
                             Icon="@Icons.Material.Filled.DarkMode"
                             Color="@Color.Dark"
                             ToggledIcon="@Icons.Material.Filled.LightMode"
                             ToggledColor="@Color.Warning" />
        <MudTooltip Text="Logout">
            <MudIconButton Icon="@Icons.Material.Filled.Logout" Href="@PageRouting.User.Logout" />
        </MudTooltip>
    </MudAppBar>
    <MudDrawer @bind-Open="@_isOpen" ClipMode="_clipMode" Breakpoint="@_breakpoint" Elevation="1">
        <MudNavMenu>
            <AuthorizeView Roles="Admin">
                <MudNavLink Href="@PageRouting.User.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.ManageAccounts">Users</MudNavLink>
            </AuthorizeView>
            <AuthorizeView>
                <MudNavLink Href="@PageRouting.Employee.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.PeopleAlt">Employees</MudNavLink>
                <MudNavLink Href="@PageRouting.Title.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.AccountTree">Titles</MudNavLink>
                <MudNavLink Href="@PageRouting.Skill.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.School">Skills</MudNavLink>
                <MudNavLink Href="@PageRouting.Project.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.GroupWork">Projects</MudNavLink>
                <MudNavLink Href="@PageRouting.Training.Index"
                            Match="NavLinkMatch.All"
                            Icon="@Icons.Material.Filled.ModelTraining">Trainings</MudNavLink>
            </AuthorizeView>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="ma-8">
        <article class="content">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <div class="alert bg-danger text-white alert-dismissible">
                        An error occured.
                        <button class="btn-close" @onclick="@ErrorBoundary.Recover"></button>
                    </div>
                </ErrorContent>
            </ErrorBoundary>
        </article>
    </MudMainContent>
</MudLayout>

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<BlazoredToasts Position="ToastPosition.BottomLeft" ShowProgressBar="true" Timeout="5"></BlazoredToasts>

@code {
    private ErrorBoundary ErrorBoundary { get; set; } = new();

    private bool _isOpen = false;
    private bool _isDense = false;
    private bool _isDarkMode = false;

    private Breakpoint _breakpoint = Breakpoint.Xxl;
    private DrawerClipMode _clipMode = DrawerClipMode.Always;

    private void ToggleDrawer()
    {
        _isOpen = !_isOpen;
    }
}